body {
  font-size: $font-size-base * 1.125;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

  @include media-breakpoint-down(sm) { font-size: $font-size-base; }

  @include media-breakpoint-down(xs) { font-size: $font-size-base * 0.875; }
}

h1 {
  line-height: 1.111em;
  font-weight: $font-weight-bold;
}

h3,
.h3 {
  line-height: 1.35em;
  font-weight: $font-weight-bold;
}

h4,
.h4 {
  line-height: 1.35em;
}

h5,
.h5 {
  line-height: 1.4em;
  font-weight: $font-weight-bold;
}

h6,
.h6 {
  line-height: 1.5em;
  text-transform: uppercase;
}

small {
  color: $gray-600;
}

del,
s { color: $gray-600; }

blockquote {
  padding-left: 1.66rem;
  border-left: 1px solid $gray-200;

  p {
    line-height: 1.3em;
    font-style: italic;
  }

  p:before {
    content: "\201C";
    padding-right: 0.2rem;
  }

  p:after {
    content: "\201D";
    padding-left: 0.2rem;
  }

  &.blockquote-fr p:before { content: "\00AB"; }
  &.blockquote-fr p:after { content: "\00BB"; }

  .blockquote-footer {
    margin-top: 0.72rem;
    font-size: $font-size-sm;
    cite { font-style: normal; }
  }
}

table {
  font-size: 0.83rem;
}
