@charset "utf-8";

$icon-size-base: 1em;

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  width: $icon-size-base;
  height: $icon-size-base;
  color: inherit;
  fill: currentColor;
  transition: transform 0.2s;

  svg {
    width: $icon-size-base;
    height: $icon-size-base;
  }

  .icon-right & { margin-left: 0.4em; }
  .icon-left & { margin-right: 0.4em; }
}

.icon-rotate-90 {
  transform: rotate(90deg);
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

.icon-rotate-270 {
  transform: rotate(270deg);
}

.feather {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
